main.main
	.container  
		.titles
			h1.sl-1
				| Кабельные системы таяния снега и льда
			h2.sl-2
				| Обогрев кровли и водостоков, крылечек и пандусов
	.slider-wrapper
		.container
			.sliders
				.slider
					img(src="img/slide.jpg", alt="")
				.slider
					img(src="img/slide.jpg", alt="")
	.form-container
		.container
			.form-wrapper
				p
					| Получите консульцию специалиста и расчет стоимости системы бесплатно!
				form(action="/").form-qw
					label(for="tel")
						input(type="text" placeholder="Номер телефона")
					label(for="name")
						input(type="text" placeholder="Имя")
					button.btn(type="submit")
						| Отправить
section.services
	.services-container
		.container
			p.s-title
				|Что получают наши клиенты?
			.services-items
				.services-item
					.s-img
						img(src="img/icons/s-1.svg", alt="")
					.s-dscr
						span.
							Надежную и <br>
							долговечную работу <br>
							системы обогрева 
				.services-item
					.s-img
						img(src="img/icons/s-2.svg", alt="")
					.s-dscr
						span.
							Автоматические  <br>
							настройки систем  <br>
							антиобледенения 
				.services-item
					.s-img
						img(src="img/icons/s-3.svg", alt="")
					.s-dscr
						span.
							Дом или здание без <br>
							протечек талых вод, <br>
							наледи и сосулек 	
section.r-projects
	.r-projects-container
		.container
			p.s-title
				| Реализованные объекты
			span.sub-title
				| Аэропорт «Кольцово», здание VIP-терминала
			p.dscr.
				Установлена система обогрева кровли, предотвращающая образование льда на кровле, карнизе, желобах и водосточных трубах. Использован резистивный нагревательный кабель Nexans Defrost Twin/Snow (Норвегия). Общая мощность 42,0 кВт. Управление системой разделено на две независимые стороны (север - юг). Кабельная система обогрева работает в автоматическом режиме с контроллерами РТ-200 "Теплоскат", с датчиками температуры TST01, осадков TSP02 и водыTSW01. Есть возможность включения только по датчику температуры. Предусмотрена система световой сигнализации контроля фаз, включения обогрева, аварии на линии с выводом в диспетчерскую.
			.r-projects-slider
				.r-projects-items-sl
					.r-projects-img
						a(href="img/proj/p-1.jpg" data-lightbox="projects")
							img(src="img/proj/p-1.jpg", alt="")
					.r-projects-img
						a(href="img/proj/p-2.jpg" data-lightbox="projects")
							img(src="img/proj/p-2.jpg", alt="")
					.r-projects-img
						a(href="img/proj/p-3.jpg" data-lightbox="projects")
							img(src="img/proj/p-3.jpg", alt="")
					.r-projects-img
						a(href="img/proj/p-4.jpg" data-lightbox="projects")
							img(src="img/proj/p-4.jpg", alt="")
section.r-projects.r-projects--dark
	.r-projects-container
		.container
			span.sub-title
				| Коттедж, г. Верхняя Пышма
			p.dscr.
				Установлена антиобледенительная система кровли, предотвращающая образование льда и протечек внутрь здания. Обогрев в желобах, ендовах и водосточных трубах выполнен резистивным нагревательным кабелем Nexans Defrost Twin/Snow TXLP/2R/28 (Норвегия). Система работает полностью в автоматическом режиме с контроллером РТ-200 "Теплоскат", есть возможность принудительного включения. Рном. = 8,1 кВт.
			.r-projects-slider
				.r-projects-items-sl
					.r-projects-img
						a(href="img/proj/p-5.jpg" data-lightbox="projects")
							img(src="img/proj/p-5.jpg", alt="")
					.r-projects-img
						a(href="img/proj/p-6.jpg" data-lightbox="projects")
							img(src="img/proj/p-6.jpg", alt="")
					.r-projects-img
						a(href="img/proj/p-7.jpg" data-lightbox="projects")
							img(src="img/proj/p-7.jpg", alt="")
					.r-projects-img
						a(href="img/proj/p-8.jpg" data-lightbox="projects")
							img(src="img/proj/p-8.jpg", alt="")
section.r-projects.r-projects--l
	.r-projects-container
		.container
			span.sub-title
				| Собор Александра Невского, г. Екатеринбург
			p.dscr.
				Установлена система обогрева кровли, предотвращающая образование льда и снега в желобах, ендовах и водосточных трубах. Использован саморегулирующийся нагревательный кабель Nexans Defrost Pipe 20 (Норвегия). Общая номинальная мощность 12,0 кВт. Антиобледенительная система работает в автоматическом режиме с контроллером РТ-200Е Теплоскат, с датчиком температуры TST01, датчиком осадков TSP02 и датчиком воды TSW01 для наиболее оптимального и экономичного режима работы системы. Есть возможность включения только по датчику температуры («оттайка»). Предусмотрена система световой сигнализации оповещающая об аварии на линии, а также о том, что «оттайка» включена.
			.r-projects-slider
				.r-projects-items-sl
					.r-projects-img
						a(href="img/proj/p-9.jpg" data-lightbox="projects")
							img(src="img/proj/p-9.jpg", alt="")
					.r-projects-img
						a(href="img/proj/p-10.jpg" data-lightbox="projects")
							img(src="img/proj/p-10.jpg", alt="")
					.r-projects-img
						a(href="img/proj/p-11.jpg" data-lightbox="projects")
							img(src="img/proj/p-11.jpg", alt="")
					.r-projects-img
						a(href="img/proj/p-12.jpg" data-lightbox="projects")
							img(src="img/proj/p-12.jpg", alt="")
				a(href="#").btn
					| ВСЕ ПРОЕКТЫ